body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
}

#weatherNow {
    font-size: 5rem;
    font-weight: bolder;
}

#weatherNow .degree {
    content: "°c";
    position: relative;
    top: -40px;
    right: 15px;
    font-size: 3rem;
    font-weight: bolder;
}

#weatherCity {
    font-size: 3rem;
    font-weight: bolder;
}

#searchInput {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(211, 197, 197, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    width: 100%;
}

#searchInput:focus {
    outline: none;
}

#searchInput::placeholder {
    color: #CECFD1;
}

.weather {
    margin-top: 200px;
}

.glassy {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.glassy div,
.glassy table {
    cursor: default;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.ac-select {
    color: #fff !important;
    border: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.0;
    height: 0;
    transition: all 0.5s ease;
}

.ac-select option {
    padding: 10px 0;
}

.ac-select option:hover {
    background-color: transparent !important;
}

.ac-select option:checked {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.2);
}


.content-placeholder {
    display: block;
    width: 100%;
    padding: 25px 0;
}

.content-placeholder-loader {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #cecece;
    background-size: 300% 100%;
    animation: placeContent 1s infinite linear;
    margin-bottom: 10px;
}

@keyframes placeContent {
    0% {
        background-position: right;
    }
}

.header h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.header h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.2);
}

.weatherTable {
    --bs-table-color-state: #fff;
    --bs-table-bg: transparent;
    --bs-border-width: 0;
    --bs-table-hover-color: #fff;
}

.weatherTable td {
    vertical-align: baseline;
}

.currentWeather {
    position: relative;
}

.currentIcon {
    position: absolute;
    top: 0;
    right: 20px;
    text-align: center;
}

.currentIcon span {
    display: block;
    width: 80px;
    font-size: 1rem;
}